#fond-Form {
    background-color: var(--colorFond);
    width: 33%;
    min-width: 450px;
    margin: 30px auto;
    margin-top: 100px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

#form * {
    padding: 10px;
}

.form-cont {
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.form-cont label {
    font-weight: bold;
    color: rgb(92, 58, 25);
}

.form-items {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    width: 100%;
}

#bt-form {
    align-items: center;
}

#bt-submit {
    box-shadow: 5px 5px 5px rgba(75, 74, 73, 0.411);
    width: 150px;
    background-color: var(--colorBt);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}


/*-------------Formulario Contactos-----------------*/

.form-items[placeholder] {
    font-family: initial;
}

.required {
    color: brown;
    font-weight: bold;
}


/*-------------Formulario Login-----------------*/

#chk-recor {
    flex-direction: row;
    flex-wrap: nowrap;
}

#recordar {
    box-shadow: none;
    width: 20px;
    font-size: 35px;
    align-self: center;
}

#acce-log {
    flex-direction: row;
    flex-wrap: wrap;
}

#acce-log a {
    color: rgb(92, 58, 25);
}

#acce-log a:first-child {
    border-right: 4px solid rgb(92, 58, 25);
}


/*-------------Media Responsive-----------------*/

@media (max-width: 900px) {
    /*-------------Formulario Contactos-----------------*/
    .form-cont {
        font-size: 80%;
    }
    .form-items {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    /*-------------Formulario Login-----------------*/
    #acce-log {
        justify-content: center;
    }
}

@media (max-width: 550px) {
    /*-------------Formulario Contactos-----------------*/
    #fond-Form {
        min-width: 300px;
    }
    .form-cont {
        font-size: 80%;
    }
    .form-items {
        font-size: 10px;
    }
    /*-------------Formulario Login-----------------*/
    #acce-log a:first-child {
        border-right: none;
    }
}