nav {
    z-index: 9999;
}

.fond-Form {
    background-color: var(--colorFond);
    width: 33%;
    min-width: 450px;
    margin: 30px auto;
    margin-top: 100px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.form * {
    padding: 7px;
}

.form-cont {
    margin: 0 auto;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.form-cont label {
    font-weight: bold;
    color: rgb(92, 58, 25);
}

.form-items {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.493);
    border: none;
    border-radius: 15px;
    font-size: 13px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    width: 100%;
    z-index: 2;
}

.bt-submit {
    box-shadow: 5px 5px 5px rgba(75, 74, 73, 0.411);
    width: 150px;
    background-color: var(--colorBt);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    align-self: center;
}

a {
    font-size: 15px;
}


/*-------------Formulario Contactos-----------------*/

.form-items[placeholder] {
    font-family: initial;
}

.required {
    color: brown;
    font-weight: bold;
}


/*-------------Formulario Login-----------------*/

#chk-recor {
    flex-direction: row;
    flex-wrap: nowrap;
}

#recordar {
    box-shadow: none;
    width: 20px;
    font-size: 35px;
    align-self: center;
}

#acce-log {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#acce-log a {
    color: rgb(92, 58, 25);
}

#acce-log a:first-child {
    border-right: 4px solid rgb(92, 58, 25);
}


/*-------------Formulario Registrar-----------------*/

#fond-reg {
    width: 60%;
}

h3 {
    color: rgb(92, 58, 25);
    font-size: 25px;
}

#form-reg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "ape nom fechNac" "dire dire dire" "mail contra1 contra2" "chk-reg chk-reg chk-reg" "bt-form bt-form bt-form";
    grid-gap: 10px;
    grid-row: 2 0px;
}

#ape {
    grid-area: ape;
}

#nom {
    grid-area: nom;
}

#fechNac {
    grid-area: fechNac;
}

#dire {
    grid-area: dire;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#dire div {
    margin-right: 15px;
}

#mail {
    grid-area: mail;
}

#contra1 {
    grid-area: contra1;
}

#contra2 {
    grid-area: contra2;
}

#chk-reg {
    grid-area: chk-reg;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: left;
}

#chk-reg div {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#chk-reg div input {
    box-shadow: none;
    width: 20px;
    font-size: 35px;
    align-self: center;
}

.term-reg {
    color: rgb(67, 67, 253);
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: bolder;
}

#bt-form {
    grid-area: bt-form;
    flex-direction: row;
}


/*-------------Media Responsive-----------------*/

@media (max-width: 1010px) {
    /*repo recuadro direccion*/
    #dire {
        flex-wrap: wrap;
        margin: 0 auto;
        flex-shrink: 1;
        flex-basis: 15%;
    }
    #dire div {
        align-self: center;
    }
    #dire div input {
        width: 80%;
    }
    #t-dire {
        bottom: 123px;
        ;
    }
}

@media (max-width: 900px) {
    /*-------------Formulario Contactos-----------------*/
    .form-cont {
        font-size: 80%;
    }
    .form-items {
        font-size: 13px;
    }
    /*-------------Formulario Registro-----------------*/
    #dire div {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    /*-------------Formulario Login-----------------*/
    #acce-log {
        justify-content: center;
    }
}

@media (max-width: 550px) {
    /*-------------Formulario Contactos-----------------*/
    .fond-Form {
        min-width: 300px;
    }
    .form-cont {
        font-size: 80%;
    }
    .form-items {
        font-size: 10px;
    }
    /*-------------Formulario Registro-----------------*/
    #form-reg {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "ape nom ""fechNac fechNac" "dire dire " "mail contra1 ""contra2 contra2" " chk-reg chk-reg" "bt-form bt-form ";
    }
    #dire div {
        flex-basis: 50%;
    }
    #bt-form {
        flex-direction: column;
    }
}