@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colorGen: rgb(13, 33, 59);
    --colorBt: #d39624;
    --colorFond: rgb(226, 179, 107);
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: url("..//Imagenes/Palacio\ de\ Charlottenburg.jpg");
    background-color: rgba(0, 0, 0, 0.301);
    background-blend-mode: soft-light;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    max-width: 2000px;
}

.wrapper {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 100px repeat(1, 1fr);
    grid-template-areas: "logo option  login signUp";
    align-items: center;
    justify-content: left;
    background-color: var(--colorGen);
}

nav div {
    border-radius: 25px;
    text-align: center;
    padding: 0 5px 0 5px;
}

nav div a {
    font-size: 22px;
}

nav div:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

#btRepo {
    display: none;
}

#option {
    grid-area: option;
    width: 100%;
    display: grid;
    grid-template-areas: "bio event media contac";
    grid-template-columns: repeat(auto-fit, minmax(1fr));
}

#option:hover {
    background-color: inherit;
}

a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

#logo {
    grid-area: logo;
    border-radius: 0 45% 45% 0;
    background-color: white;
    margin-right: 15px;
}

#logo:hover {
    background-color: rgba(255, 253, 253, 0.452);
}

#logo img {
    margin: 0;
    max-height: 70px;
    max-width: 70px;
}

#biografia {
    grid-area: bio;
}

#eventos {
    grid-area: event;
}

#media {
    grid-area: media;
}

#contactos {
    grid-area: contac;
}

#login {
    grid-area: login;
}

#signUp {
    grid-area: signUp;
    padding: 0;
}

#login a,
#signUp a {
    font-size: 22px;
}

#signUp a {
    border-radius: 15px;
    padding: 8px;
    background-color: black;
    margin: 0;
}

#signUp:hover {
    background-color: inherit;
}

#signUp a:hover {
    color: black;
    background-color: white;
}

main {
    flex: 1;
}


/* --------------------- FOOTER--------------------------------*/

footer {
    margin: 0;
    padding: 0;
    background-color: var(--colorFond);
    clear: both;
    width: 100%;
    height: 80px;
}

#pie {
    margin: 15px auto;
    padding: 0;
    position: relative;
    bottom: 40px;
    border-radius: 15px;
    background-color: var(--colorGen);
    color: white;
    width: 95%;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
}

#Copyright {
    padding-left: 45px;
    justify-content: initial;
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 15px;
}

#redes {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 30px;
    font-size: 65px;
    padding-right: 15px;
}

#redes a {
    font-size: 35px;
}

#redes a:hover {
    color: rgb(226, 179, 107);
}


/* ---------------MEDIA(max-width:800px)--------*/

@media (max-width:800px) {
    nav {
        grid-template-areas: "logo option login signUp" "logo option login signUp";
    }
    #option {
        grid-template-areas: "bio event" "media contac";
    }
    a {
        font-size: 19px;
    }
    #login a,
    #signUp a {
        font-size: 19px;
    }
    #suscripción {
        font-size: 25px;
    }
    #Copyright {
        font-size: 12px;
    }
    #redes a {
        font-size: 25px;
    }
}

@media (max-width:500px) {
    /*MENU RESPO*/
    /*-----------Distribucion del menu-----------*/
    nav {
        grid-template-areas: "logo btRepo login signUp" "option";
    }
    /*-------Boton Menu------*/
    #btRepo {
        grid-area: btRepo;
        display: block;
        justify-self: center;
        align-self: center;
        grid-row: 1 /span 2;
        grid-column: 2;
        cursor: pointer;
        margin-bottom: 10px;
    }
    #btRepo a {
        font-size: 25px;
    }
    #option {
        grid-row: 3;
        grid-template-areas: "bio" "event" "media" "contac";
        height: 150px;
        /*absolute para que se vea por encima de todo*/
        position: absolute;
        top: -15px;
        background-color: var(--colorGen);
        /*para que se oculte y no este visible*/
        opacity: 0;
        visibility: hidden;
    }
    #option.open {
        opacity: 1;
        visibility: visible;
    }
}