@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --colorGen: rgb(13, 33, 59);
    --colorBt: #d39624;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: url("..//Imagenes/Palacio\ de\ Charlottenburg.jpg");
    background-color: rgba(0, 0, 0, 0.301);
    background-blend-mode: soft-light;
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    max-width: 2000px;
}

.wrapper {
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 100px repeat(1, 1fr);
    grid-template-areas: "logo option  login signUp";
    align-items: center;
    justify-content: left;
    background-color: var(--colorGen);
}

nav div {
    border-radius: 25px;
    text-align: center;
    padding: 0 5px 0 5px;
}

nav div:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

#btRepo {
    display: none;
}

#option {
    grid-area: option;
    width: 100%;
    display: grid;
    grid-template-areas: "bio event media contac";
    grid-template-columns: repeat(auto-fit, minmax(1fr));
}

#option:hover {
    background-color: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

#logo {
    grid-area: logo;
    border-radius: 0 45% 45% 0;
    background-color: white;
    margin-right: 15px;
}

#logo:hover {
    background-color: rgba(255, 253, 253, 0.452);
}

#logo img {
    margin: 0;
    max-height: 70px;
    max-width: 70px;
}

#biografia {
    grid-area: bio;
}

#eventos {
    grid-area: event;
}

#media {
    grid-area: media;
}

#contactos {
    grid-area: contac;
}

#login {
    grid-area: login;
}

#signUp {
    grid-area: signUp;
    padding: 0;
}

#login a,
#signUp a {
    font-size: 22px;
}

#signUp a {
    border-radius: 15px;
    padding: 8px;
    background-color: black;
    margin: 0;
}

#signUp:hover {
    background-color: inherit;
}

#signUp a:hover {
    color: black;
    background-color: white;
}

@media (max-width:800px) {
    nav {
        grid-template-areas: "logo option login signUp" "logo option login signUp";
    }
    #option {
        grid-template-areas: "bio event" "media contac";
    }
    a {
        font-size: 19px;
    }
    #login a,
    #signUp a {
        font-size: 19px;
    }
}

@media (max-width:500px) {
    /*MENU RESPO*/
    /*-----------Distribucion del menu-----------*/
    nav {
        grid-template-areas: "logo btRepo login signUp" "option";
        position: relative;
    }
    /*-------Boton Menu------*/
    #btRepo {
        grid-area: btRepo;
        display: block;
        justify-self: center;
        align-self: center;
        grid-row: 1 /span 2;
        grid-column: 2;
        cursor: pointer;
        margin-bottom: 10px;
    }
    #btRepo a {
        font-size: 25px;
    }
    #option {
        grid-row: 3;
        grid-template-areas: "bio" "event" "media" "contac";
        height: 150px;
        /*absolute para que se vea por encima de todo*/
        position: absolute;
        top: -15px;
        background-color: var(--colorGen);
        /*para que se oculte y no este visible*/
        opacity: 0;
        visibility: hidden;
    }
    #option.open {
        opacity: 1;
        visibility: visible;
    }
}